/* Static style here. */
#map, #view {
    height: 512px;
    width: 512px;
    overflow: hidden;
    position: relative;
}
#eventlayer {
    position: absolute;
    height: 512px;
    width: 512px;
    overflow: hidden;
    top: 0px;
    left: 0px;
}
#map div {
    height: 32px;
    width: 32px;
    top: 0px;
    left: 0px;
    position: absolute;
}


