body, html {
    padding: 0;
    margin: 0;
    transform-origin: 0 0;
}
/* Because of scaling, every div MUST HAVE a fixed size. Atleast by default. */
div {
    overflow: hidden;
    height: 0px;
    width: 0px;
}
/* Static style here. */
#map, #view {
    height: 512px;
    width: 512px;
    overflow: hidden;
    position: relative;
    /* Move to javascript. Entier game should fill the window, and scale everything.
    zoom: 2;
    -moz-transform: scale(2);*/
}
#eventlayer {
    position: absolute;
    height: 512px;
    width: 512px;
    overflow: hidden;
    top: 0px;
    left: 0px;
}
#map {
    background-color: #000;
}
#map div {
    height: 32px;
    width: 32px;
    overflow: visible;
    top: 0px;
    left: 0px;
    position: absolute;
}
#map div div {
    position: relative;
    top: 0px;
    left: 0px;
    height: 32px;
    width: 32px;
    
}
